:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --bg-color: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

header {
  margin-bottom: 50px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: var(--white);
  padding: 25px;
  border-radius: 20px;

  width: 45%;
}

.input-panel,
.result-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.bill-input,
.people-number-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.tip-buttons {
  margin-top: 8px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.tip-option {
  height: 28px;
}

.tip-option button {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.tip-option button:hover {
  background-color: var(--strong-cyan);
}

.tip-option button:active {
  background-color: var(--bg-color);
}

.custom-tip-input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 5px 10px;
  background-image: none;
  cursor: pointer;
}

.custom-tip-input::placeholder {
  text-align: center;
}

.input-panel label {
  color: var(--dark-grayish-cyan);
}

.input {
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 12px 15px;
  padding: 12px 20px 12px 40px;
  cursor: pointer;
  margin-top: 10px;
}

.bill-inputbox {
  background-image: url("./images/icon-dollar.svg");
}

.people-number-inputbox {
  background-image: url("./images/icon-person.svg");
}

.custom-tip-input {
  background-color: var(--very-light-grayish-cyan);
}

input::placeholder {
  color: var(--grayish-cyan);
}

input {
  outline-color: var(--strong-cyan);
  text-align: right;
  color: var(--very-dark-cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label {
  font-size: 14px;
}

.result-panel {
  background-color: var(--very-dark-cyan);
  padding: 30px;
  border-radius: 10px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number {
  display: flex;
  color: var(--strong-cyan);
  height: 35px;
  align-items: center;
}

svg path {
  fill: var(--strong-cyan);
}

.tip-amount-text,
.total-amount-text {
  color: var(--white);
  font-size: 12px;
}

.tip-amount-text-p,
.total-amount-text-p {
  color: var(--grayish-cyan);
  font-size: 10px;
}

.result-panel {
  justify-content: space-between;
}

.tip-result {
  margin-bottom: 20px;
}

.reset,
.reset button {
  cursor: pointer;
  width: 100%;
  height: 28px;
  border-radius: 3px;
  background-color: var(--bg-color);
  color: var(--dark-grayish-cyan);
}

@media (max-width: 1200px) {
  .dashboard {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .dashboard {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .dashboard {
    width: 80%;
  }

  .tip-option, .reset {
    height: 38px;
  }

}

@media (max-width: 650px) {
  .dashboard {
    flex-direction: column;
  }

  .input-panel,
  .result-panel {
    width: 100%;
  }
}

@media (max-width: 450px) {
  body {
    justify-content: flex-start;
  }

  .dashboard {
    width: 95%;
    gap: 25px;
    margin-top: 0px;
    padding: 20px;
  }

  header {
    margin: 35px 0px;
  }

  .tip-buttons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .tip-option, .reset {
    height: 45px;
  }
  
  .reset button{
    height: 100%;
    font-size: 16px;
  }
  
  .tip-option button,
  .custom-tip-input::placeholder,
  .custom-tip-input,
  .number,
  .input::placeholder,
  .input{
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
  }

  .input {
    height: 50px;
    margin-top: 10px;
  }
}
